{
  "identities": [
    {
      "name": "${SEAWEEDFS_S3_USER}",
      "credentials": [
        {
          "accessKey": "${SEAWEEDFS_S3_USER}",
          "secretKey": "${SEAWEEDFS_S3_PASSWORD}"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write"
      ]
    }
  ]
}
